PORT=3000
MONGODB_URI=mongodb+srv://talhamushtaq1064_db_user:ItdtwVofyCDdApWA@cluster0.nu0djts.mongodb.net/Chat_db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key
RESEND_API_KEY=re_PSYLkWCa_N3NGJj6dLYSi6jnskC1ZLhLF
EMAIL_FROM=talhamushtaq1064@gmail.com
EMAIL_FROM_NAME="Talha Mushtaq"


CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=da76wpb2h
CLOUDINARY_API_KEY=551271915152416
CLOUDINARY_API_SECRET=kSWfI8BZvcqh3-3CWD42y-HueIE

ARCJET_KEY=ajkey_01k78py6krfdav3xvz1wwxy0ts
ARCJET_ENV=development
